Liquor Shop AI - Customer Email Automation v1.0.json
{
  "name": "Liquor Shop AI - Customer Email Automation v1.0",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b1fe1d42-b7c7-4002-8378-efb294aec74c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        0
      ],
      "id": "01ad11c2-1084-45a6-a851-a767ad87d92d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an API that converts customer requests into JSON.\n\nCustomer request:\n\n{{ $json.customer_query }}\n\nReturn ONLY a valid JSON object.\n\nSchema:\n\n{\n  \"category\": null,\n  \"brand\": null,\n  \"max_price\": null,\n  \"size\": null,\n  \"premium\": false,\n  \"in_stock_only\": true\n}\n\nRules:\n- Category must be Beer or Whiskey.\n- Extract brand if mentioned.\n- Extract the maximum price if mentioned.\n- Extract bottle size if mentioned.\n- If the customer requests premium products, premium=true.\n- Otherwise premium=false.\n- Always set in_stock_only=true.\n\nDo not use markdown.\nDo not use ```json.\nDo not explain anything.\nReturn only the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        112
      ],
      "id": "2e80efd8-6e6c-4e74-9f88-b7bb53da5e68",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        944,
        352
      ],
      "id": "6fcca2d3-c012-4989-b573-9319be0cea03",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "CVmwOumgSRGCl9tH",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/data/Inventory.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        432,
        -192
      ],
      "id": "8ac7b99c-f03f-4dc9-ab1d-e1432288715c",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -192
      ],
      "id": "db1dbf45-61c9-4b4c-b661-065561dd7d2e",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9znieuvlTY8xqMdT",
          "mode": "list",
          "cachedResultUrl": "/workflow/9znieuvlTY8xqMdT",
          "cachedResultName": "Inventory Service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        80
      ],
      "id": "11e88e06-6f48-46e2-9a72-44afda7fe4ea",
      "name": "Call 'Inventory Service'"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1664,
        336
      ],
      "id": "091eb618-efd7-430c-ac57-8aa51ab17253",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "CVmwOumgSRGCl9tH",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = JSON.parse($json.output);\n\n// Recover the current customer from Call Inventory Service\nconst customer = $('Call \\'Inventory Service\\'').item.json;\n\nreturn [{\n  json: {\n    customer_email: customer.customer_email,\n    customer_query: customer.customer_query,\n    subject: email.subject,\n    body: email.body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        80
      ],
      "id": "98554a39-016d-471f-bec0-6df5f59b0768",
      "name": "Parse Email JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email assistant for a liquor shop.\n\nCustomer Email:\nCustomer Email:\n{{ $json.customer_email }}\n\nCustomer Query:\nCustomer Query:\n{{ $json.customer_query }}\n\nMatching Products:\n{{ JSON.stringify($input.all().map(i => i.json), null, 2) }}\n\nYour task:\n\n1. Read the customer query.\n2. Use ONLY the products listed under \"Matching Products\".\n3. Never invent, modify or assume any product that is not listed.\n4. If Matching Products is empty, politely inform the customer that no matching products are currently available.\n5. If there are one or more products, list each product with:\n   - Brand\n   - Price\n   - Size\n   - Premium (Yes/No)\n   - Description\n6. Mention stock availability naturally if stock is greater than 0.\n7. Write a friendly and professional email.\n\nReturn ONLY valid JSON in exactly this format:\n\n{\n  \"subject\": \"Email subject\",\n  \"body\": \"Email body\"\n}\n\nDo not return markdown.\nDo not use ```json.\nDo not include any explanation.\nReturn JSON only.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1664,
        80
      ],
      "id": "082e26c3-f84e-4158-8727-575033fbb5f7",
      "name": "AI - Generate Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2128,
        128
      ],
      "id": "b1aae9c5-2cc9-4205-8b9b-9110b6a3777a",
      "name": "Send a message",
      "webhookId": "faee4997-7257-4e1d-b578-bcc47c565e86",
      "credentials": {
        "gmailOAuth2": {
          "id": "yf8NjPaWcb30P15u",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/data/CustomerQuery.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        224,
        16
      ],
      "id": "4b3b12b8-4965-4c44-978f-171443323275",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "32dc3e5f-3914-48bc-8d42-ff393b3d677a",
      "name": "Extract Customer Queries"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($json.output);\n\n// Get the current customer from the Loop Over Items node\nconst customer = $('Loop Over Items').item.json;\n\nreturn [{\n  json: {\n    customer_email: customer.customer_email,\n    customer_query: customer.customer_query,\n    category: parsed.category,\n    brand: parsed.brand,\n    max_price: parsed.max_price,\n    size: parsed.size,\n    premium: parsed.premium,\n    in_stock_only: parsed.in_stock_only\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        80
      ],
      "id": "d2b401e9-fc4c-4055-84da-ae6a9c638845",
      "name": "Parse Customer Filters"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Customer Filters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        []
      ]
    },
    "Call 'Inventory Service'": {
      "main": [
        [
          {
            "node": "AI - Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Generate Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email JSON": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Generate Email": {
      "main": [
        [
          {
            "node": "Parse Email JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract Customer Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Customer Queries": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Customer Filters": {
      "main": [
        [
          {
            "node": "Call 'Inventory Service'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d4fac255-fba5-4388-8097-d6e09d7fdc7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00f6ec639cf53d3c5fae0de6dae51faf8075805618044514fc780fb14174775a"
  },
  "nodeGroups": [],
  "id": "coyCwQvLMyqc1OT4",
  "tags": []
}